<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<p><b>Gönderilen JSON Data : </b><span th:text="${jsonData}"></span></p>
<span th:text="${token}"></span>
<p><b>Alınan JSON Data : </b><span th:text="${reJsonData}"></span></p>
</body>
</html>