<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<span>login başarılı!!</span><br/>
<span><b>Gönderilen JSON : </b><span th:text="${json}"></span></span>
<p><B>Gelen Token :</B> <span th:text="${token}"></span></p>
<p><a th:href="@{/init}">init yap!!</a></p>


</body>
</html>